<!--<div class="jumbotron text-center">
  <h1>Welcome to the Buzz Community</h1>
  <p class="lead">A gamification based online forum that works and plays hard!</p>
    <button style="width: 10%; height: 50%" type="button" nglButton="success" [routerLink]="['/login']">Login</button>
    <button class="btn btn-default" [routerLink]="['/tour']">Take a tour</button>
</div>-->

<!-- Main jumbotron for a primary marketing message or call to action -->

<!--<div class="jumbotron text-center">-->
  <!--<div class="container">-->
    <!--<h1>Welcome to the Buzz Community</h1>-->
    <!--<p>A <i>gamification</i> based online educational forum that works and plays hard!</p>-->
    <!--<div>-->
      <!--<a class="btn btn-primary btn-lg" role="button" routerLink='login'>Login</a>-->
      <!--<a class="btn btn-default btn-lg" role="button" routerLink='tour'>Take a Tour &raquo;</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<app-info id="OtherX"></app-info>-->



