<div class="jumbotron text-center" id="bobo">
    <div class="containerX">
        <h1>Welcome to the Buzz Community</h1>
        <p>A <i>gamification</i> based online educational forum that works and plays hard!</p>
        <div>
            <a class="btn btn-primary" (click)="login_view = !login_view" role="button">Login</a>
            <!--<a class="btn btn-warning btn-lg" role="button">Take a Tour &raquo;</a>-->
        </div>
    </div>
</div>

<div class="container" id="dodo">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Buzz Bounty</h2>
            <p> Bounty is the forum currency for trade. Offer up bounty to anyone who answers your query to your satisfaction or challenge to earn bounty on bounty posts made by other users in the community. </p>
        </div>
        <div class="col-md-4">
            <h2>Rewards</h2>
            <p>An online virtual currency, which enables you to grow and evolve not only on the Buzz platform but your mental ability. Get rewarded with points and work your way up the ranks to the top of the leaderboard.
            </p>
        </div>
        <div class="col-md-4">
            <form *ngIf="login_view; else alterX" style="align-items: center">
                <img  src="../../assets/kumladi_glow.png" height="100" width="160">
                <div class="form-group">
                    <div class="ui-float-label" style=" width: 150px; ">
                        <input id="float-input" type="text" size="40" style="height: 36px" pInputText maxlength="9" required>
                        <label for="float-input">Username: </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="ui-float-label" style="width: 150px; ">
                        <input id="float-input2" type="password" size="40" style="height: 36px" maxlength="15" pInputText required>
                        <label for="float-input2">Password: </label>
                    </div>
                </div>
                <button type="submit" (click)="loginAttempt()" class="btn btn-success">Buzz-In</button>
                <p-growl [(value)]="responseDialog"></p-growl>
             </form>

            <ng-template #alterX>
                <h2>Open Community</h2>
                <p>Partake in public and private conversations in the form of forum topics and private group chats. Invite others to your own custom forum groups or join groups you have been invited to.</p>
            </ng-template>

        </div>
    </div>
    </div>

    <hr>