<form id="log_containment">
    <img  src="../../assets/kumladi_glow.png" height="100" width="160">
    <div class="form-group">
        <div class="ui-float-label" style=" width: 150px; ">
            <!--<button style="float: left; width: 40px; height: 40px; ">-->
                <!--<span style=" color: black; "><i class="glyphicon glyphicon-lock"></i>-->
                <!--</span>-->
            <!--</button>-->
            <!--<input id="float-input" type="text" size="40" style="height: 40px" value="{{login_id}}" [(ngModel)]="login_id" pInputText required>-->
            <input id="float-input" type="text" size="40" style="height: 40px" value="{{login_id}}" pInputText required>
            <label for="float-input">Username: </label>
        </div>
    </div>
<br>
    <div class="form-group">
        <div class="ui-float-label" style="width: 150px; ">
            <input id="float-input2" type="password" size="40" style="height: 40px" value="{{user_password}}" pInputText>
            <label for="float-input2">Password: </label>
        </div>
    </div>

    <button type="submit" (click)="loginAttempt()" class="btn btn-success">Login</button>
    <p-growl [(value)]="responseDialog"></p-growl>
</form>