#rep_Profile{
    margin-left: 40px;
}
#rep_gami{
    margin-left: 40px;
}

#rep_mile{
    margin-left: 40px;
}
.report_chip {
    display: inline-block;
    float: left;
    /*padding: 0 25px;*/
    height: 90px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #BBB;
    padding-right: 200px;
}

.report_chip div {
    float: left;
    /*margin: 0 10px 0 -25px;*/
    padding-left: 30px;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-color: #000;
    border: 4px solid #BBB;
    padding-bottom: 30px;
    padding-left: 0px;
}