<p-dialog header="Buzz Admin" [(visible)]="display" modal="modal" width="900" height="600">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li class="hideme" ><a data-toggle="tab"  href="#ad_mileStones">MileStones</a></li>
    <li><a data-toggle="tab" href="#ad_viewStats">Statistics</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Some content.</p>
      ad_allUsers:
      {{ ad_allUsers | json }}
      admin_Obj:
      {{ admin_Obj | json }}
    </div>
    <div id="ad_mileStones" class="tab-pane fade">
      <div> Current MileStones:
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Gengre</th>
            <th>Goal</th>
            <th>Reaward</th>
            <th>Expiration</th>
            <th>Completed</th>
          </tr>
          </thead>
          <!--*ngFor="let p of rp_Posts"-->
          <!--<tr *ngFor="let p of sp_Posts" (click)="selectedSibling(p.postID,p.heading, p.level)">-->
          <tr *ngFor="" >
            <td>X</td>
            <td>X</td>
            <td>X</td>
          </tr>
          <tr *ngIf="">
            <td>No responses to current message</td>
          </tr>
        </table>
      </div>
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Genre: <strong>LIKES!</strong>
        Goal: <strong>40</strong>
        Reward: <strong>20</strong>
      </div>
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Genre: <strong>LIKES!</strong>
        Goal: <strong>40</strong>
        Reward: <strong>20</strong>
      </div>
      <div class="form-group" style="; display: inline-block;">
        <label for="sel1">Type of MileStone: </label>
        <select class="form-control" id="sel1" style="width: 100px">
          <option>Likes</option>
          <option>Replies</option>
          <option>Groups</option>
        </select>
      </div>
      <div style="margin-left: 30px; display: inline-block;">
        <label for="sel1">Goal: </label>
        <input type="number" style="width: 100px" class="form-control" min="0" max="1000">
      </div>
      <div style="margin-left: 30px; display: inline-block;">
        <label for="sel1">Reward Amount: </label>
        <input type="number" class="form-control" style="width: 100px" min="0" max="1000">
      </div>
      <div style="margin-left: 30px; display: inline-block;">
        <label for="sel1">Expiration Date: </label>
        <input type="date" class="form-control" style="width: 300px" min="0" max="1000">
      </div>
      <div class="form-group">
        <label class="control-label">Reward :</label>
        <div class="input-group">
          <span class="input-group-addon">Details</span>
          <input type="text" class="form-control">
        </div>
        <br>
        <button class="btn btn-info">CREATE MILESTONE</button>
      </div>
    </div>
    <div id="ad_viewStats" class="tab-pane fade" >
      <br>
      <label for="sel1">Module: </label>
      <select class="form-control" [(ngModel)]="admin_selected_module">
        <!--<option *ngIf="p1.status == 'lect'">{{p1.courseCode}}</option>-->
        <option *ngFor="let p1 of admin_Obj" >{{p1.courseCode}}</option>
      </select>
      <br>
      <br>
      <div style="background-color: black; color: white">
        <label *ngFor="let p1 of ad_dataOptions" style="margin-left: 20px">
          <input type="checkbox" [(ngModel)]="p1.view" value="p1.view"  style="width: 20px">{{p1.option_name}}
        </label>
      </div>
      <br>
      <br>
      <br>
      <button type="button" nglButton="neutral" (click)="hideName = !hideName" class="slds-m-bottom--large">Toggle "Name" column</button>
      <button type="button" nglButton="neutral" (click)="loading = !loading" class="slds-m-bottom--large">Toggle Loading</button>
      <button type="button" nglButton="neutral" (click)="toggleData()" class="slds-m-bottom--large">Clear/Set data</button>

      <table ngl-datatable [data]="data" trackByKey="rank" [loading]="loading" [(sort)]="sort" (sortChange)="onSort($event)"
             (onRowClick)="onRowClick($event)" class="slds-max-medium-table--stacked-horizontal">
        <!--<ngl-datatable-column heading="Rank" key="rank" sortable></ngl-datatable-column>-->
      <div *ngFor="let adOp of ad_dataOptions">
        <ngl-datatable-column heading="{{adOp.option_name}}" key="{{adOp.option_name}}" *ngIf="adOp.view" cellClass="slds-truncate" sortable></ngl-datatable-column>
      </div>
        <ng-template nglLoadingOverlay>
          <div class="slds-box slds-box--small slds-theme--shade slds-text-align--center">Loading...</div>
        </ng-template>

        <ng-template nglNoRowsOverlay>No data available in table!</ng-template>
      </table>
    </div>
  </div>
  <!--<div class="btn-group-vertical" style="width: 300px; height: 500px; border: 1px solid #DDD; display: inline-block" onclick="">-->
    <!--<a href="#" class="btn btn-info" (click)="getReports(1)">MileStones</a>-->
    <!--<a href="#" class="btn btn-info" (click)="getReports(2)">View Stats</a>-->
  <!--</div>-->
  <!--<div class="panel panel-info" style="width: 550px; height: 500px; border: 1px solid black; display: inline-block; position: absolute; right: 10px">-->
    <!--<div class="panel-heading">-->
      <!--<h3 class="panel-title">{{panel_heading}}</h3>-->
    <!--</div>-->
    <!--<div class="panel-body" style="overflow-y:scroll; height: 90%">-->
      <!--&lt;!&ndash;{{userObject | json}}&ndash;&gt;-->



  <!--</div>-->
  <!--</div>-->
</p-dialog>


<button type="text" id="ad_trigger" (click)="showDialog()" icon="fa-external-link-square" label="Show" style="display:none">Show</button>