<div class="panel panel-default" id="message">
  <div class="panel-heading" style="background: #333; color: white ">
    <div style="float: right">
      <button onclick="$('#div_mess_tools').slideToggle();" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-th " style="float: right" onclick=""></span>
      </button>
      <div id="div_mess_tools" onclick="$('#div_mess_tools').slideToggle();" class="wall" style="position: absolute; background-color: #BBB; border: 1px solid grey; border-radius: 5px; display: none; width: 60px; height: 60px; ">
        <div class="tools" onclick="$('#x13').toggle();" style="float: right; height: 30px; width: 30px; border: 1px solid darkgrey; border-radius: 5px; ">
          <span class="glyphicon glyphicon-pushpin" style="float: right" onclick=""></span>
        </div>
        <div  class="tools" style="height: 30px; width: 30px; border: 1px solid darkgrey; border-radius: 5px; ">
          <span class="glyphicon glyphicon-search" style="font-size: 20px"></span>
        </div>
        <div class="tools" onclick="$('#message').animate({top: '-150px', opacity: '0.0'}).hide(1000); " (click)="addToNav('mess')" style="height: 30px; width: 30px; border: 1px solid darkgrey; border-radius: 5px; ">
          <span class="	glyphicon glyphicon-resize-small" style="font-size: 20px"></span>
        </div>

      </div>
    </div>
    <h3 class="panel-title"> Messages </h3>

  </div>
  <div class="panel-body banana" id="x13" style="width: 100%; height: 90%;" *ngIf="mess_Post">
    <div style="height: 85%; overflow-y: scroll">
    <h1><b>{{mess_Post.heading}}</b></h1><br>
    <p >{{mess_Post.module}} {{mess_Post.content}}</p>
    <p style="float: right"><i>Posted on {{mess_Post.timestamp}}</i></p>
    <br><br>
    <div class="chip">

      <div></div></div><br><br>
  </div>



  <div style="height: 28px; width: 100%; border: 2px solid #777; background-color: #DDD; position: absolute; padding-left: 0px; left: 0px; bottom: 28px; font-size: 20px; color: black">
    <ngl-pill onclick="$('#sibb').animate({top: '65px', opacity: '1.0'}, 'fast').show(100);" style="float: left; height: 15px; font-size: 13px">
      <ngl-icon category="standard" icon="feedback" nglPillImage></ngl-icon>
      <a href="javascript:void(0)">Java</a>
    </ngl-pill>
  </div>
  <div style="height: 28px; width: 100%; background-color: white; position: absolute; padding-left: 0px; left: 0px; bottom: 0px; font-size: 20px; ">
    <div id="div_likes_contain" style="display: block; float: left; width: 100px; padding-left: 30px">
      <p style="float: right; padding-right: 20px; font-size: 16px; color: black; padding-top: 5px">{{upVotes}}</p>
      <div id="div_likes_icon"style="height: 30px; width: 30px; border-radius: 100%;">
        <span class="glyphicon glyphicon-thumbs-up" style="font-size: 21px; color: white; float: left; padding-top: 4px" (click)="likePost()"></span>
      </div>

    </div>

    <div id="div_dislikes_contain" style="display: block; float: left; width: 100px; padding-left: 30px">
      <p style="float: right; padding-right: 20px; font-size: 16px; color: black; padding-top: 5px">{{downVotes}}</p>
      <div id="div_dislikes_icon"style="height: 30px; width: 30px; border-radius: 100%;">
        <span class="glyphicon glyphicon-thumbs-down" style="font-size: 21px; color: white; float: left; padding-top: 4px" (click)="dislikePost()"></span>
      </div>

    </div>

    <span class="glyphicon glyphicon-comment" style="padding-left: 150px; float: left" onclick="document.getElementById('div_main').style.display = 'inline';document.getElementById('txt1').style.display = 'none'; document.getElementById('txt2').style.display = 'inline'; ">
    <!--<span class="glyphicon glyphicon-comment" style="padding-left: 50%" onclick="document.getElementById('div_main').style.display = 'inline';document.getElementById('txt1').style.display = 'none'; document.getElementById('txt2').style.display = 'inline'; document.getElementById('x2222').innerHTML = document.getElementsByClassName('banana')[0].innerHTML">-->

    </span>
  </div>
  </div>
</div>

<style>

  .banana2:hover{
    background: greenyellow;
    cursor:pointer;
  }

  .glyphicon-th:hover{
    color: lawngreen;
  }

  .tools:hover{
    color: white;
    background-color: black;
    background: black;
    cursor:pointer;
  }
</style>